<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cells: Cellular Playground</title>
		<meta charset="utf-8" />
		<%= htmlWebpackPlugin.tags.headTags %>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="content-wrapper">
			<div class="content">
				<header>
					<div id="block"></div>
					<div id="header">
						<h1>
							Cells
							<span class="subheader"> | A Cellular Automaton Playground</span>
						</h1>
					</div>
				</header>
				<main>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
						iaculis volutpat accumsan. Mauris fringilla neque eget massa posuere
						egestas. Vivamus eget est vulputate, cursus sapien sed, scelerisque
						libero. Vivamus scelerisque est ut sollicitudin luctus. Sed porta
						eros auctor arcu malesuada, in blandit felis auctor. Duis ac leo
						gravida, facilisis sem vitae, semper orci. Nam ac metus vel lacus
						feugiat vehicula at a orci. Donec vitae sollicitudin eros.
					</p>
					<p>
						Nunc odio lorem, gravida id luctus ac, sagittis eget sapien. Morbi
						at quam scelerisque dui luctus fringilla eu in diam. Ut nunc nunc,
						lacinia ut feugiat nec, blandit ac magna. Sed consequat felis quis
						metus convallis bibendum. Nulla faucibus auctor urna, quis molestie
						lacus convallis at. Maecenas non dolor congue, venenatis risus et,
						efficitur sem. Mauris tincidunt vulputate tempus. In rutrum rhoncus
						leo, sed vehicula mi interdum a. Interdum et malesuada fames ac ante
						ipsum primis in faucibus. Etiam ac neque quis nibh efficitur
						ullamcorper. Maecenas maximus facilisis enim non sagittis. Aliquam
						gravida venenatis justo, a lobortis dui gravida eu. Nunc nec
						hendrerit augue, vitae maximus tortor.
					</p>
					<conways-game></conways-game>
					<p>
						Sed tempus metus finibus tempus dapibus. Maecenas scelerisque ante
						metus, vel fringilla orci commodo sed. Nam tempor orci aliquam odio
						dignissim sodales. Morbi imperdiet dolor id commodo tincidunt.
						Aliquam sodales leo diam, nec semper urna vulputate ac. Quisque nibh
						quam, molestie non ultrices sit amet, lobortis ac nulla. In vitae
						ultrices lectus. Suspendisse ac nulla varius, malesuada metus non,
						porttitor libero. Suspendisse ullamcorper mauris ultricies,
						tincidunt arcu vel, luctus justo.
					</p>
					<p>
						Praesent rhoncus consectetur libero, in commodo sapien dictum nec.
						Mauris quis turpis orci. Maecenas convallis, nunc nec ullamcorper
						vestibulum, tortor justo ultricies nisi, condimentum aliquet enim
						tellus ac lectus. Etiam at arcu commodo, aliquet tellus in,
						venenatis ipsum. Etiam est nunc, iaculis a risus id, vehicula
						condimentum orci. Nullam nulla magna, pulvinar ut sagittis suscipit,
						facilisis eu arcu. Praesent placerat ligula in nisl maximus pretium.
						Praesent a laoreet lorem. Nunc ac condimentum neque. Etiam et ex in
						justo viverra finibus. Integer sed dapibus neque. Nunc eget mauris
						et risus egestas condimentum. Nullam ut odio elit. Proin mi tellus,
						accumsan eu massa sed, scelerisque efficitur orci. In semper tellus
						nulla, sit amet commodo mi feugiat vitae.
					</p>
					<p>
						Fusce condimentum, ex sed tempor maximus, diam orci ornare risus, at
						dapibus turpis lorem vehicula purus. Quisque efficitur dolor vel
						enim feugiat, eu posuere nulla facilisis. Curabitur iaculis sed
						risus quis consectetur. Morbi gravida venenatis odio, porta
						tincidunt felis dignissim et. Vestibulum et tellus nulla. Phasellus
						eget eros eget nunc scelerisque vehicula. Pellentesque vel nisi vel
						ipsum tempus placerat. Phasellus in nibh feugiat, rutrum ipsum
						vestibulum, volutpat nisi. Suspendisse hendrerit aliquam odio, non
						vulputate arcu suscipit at.
					</p>
				</main>
				<footer><p>©2020 Samuel D. Holloway</p></footer>
			</div>
		</div>
		<%= htmlWebpackPlugin.tags.bodyTags%>
	</body>
</html>
