<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Conway's Game of Life</title>
		<meta charset="utf-8" />
		<%= htmlWebpackPlugin.tags.headTags %>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- prettier-ignore -->
		<%= require('html-loader!./ui.html') %> 
		<%= htmlWebpackPlugin.tags.bodyTags%>
		<script type="application/javascript">
			const main = Conways.Game.buildInstance(
				document.getElementById('grid_canvas'),
				document.getElementById('sim_canvas'),
				document.getElementById('draw_canvas'),
				document.querySelector('start-button')
			)
				.registerEventHandlers(window)
				.initialize();
		</script>
	</body>
</html>
