# Local Environment
.sfdx
.vscode
*.code-workspace
*/coverage
coverage
.nyc_output

#Node.js Stuff
*/node_modules
npm-debug.log

# Webpack Outputs
*/dist
*/public/dist

# Generated stuff
*.dot
*.png
docs